* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} 

body {
    background-image: url(../assets/fundo2.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
    height: 50%;
    justify-content: center;
    
  }

.site-header {
    background-color: #750A14; 
    color: #fff; 
    padding: 25px;
    display: flex; 
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
}

.servicos{
    color: #F2F2F2;
}


.logosemfundo {
    position: absolute; /* Posiciona a logo de forma absoluta */
      top: -50px; /* Ajusta a distância do topo do cabeçalho */
      left: 20px; /* Ajusta a distância da esquerda do cabeçalho */
      height: 170px; /* Define a altura da logo */
}

.main-nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 30px;
}


.main-nav ul li a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
}

.conteudo-container {
    display: flex; /* Define o contêiner como flexbox */
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    align-items: flex-start; /* Alinha os itens no topo */
    height: 100%; /* Define a altura do contêiner para a altura total da tela */
    padding: 0px; /* Adiciona espaçamento interno */
    box-sizing: border-box; /* Inclui o padding dentro da largura */
    margin: 10px; /* Margem superior e inferior */
    width: 100%;
}


.brasil {
    width: 35px;
    height: 20px;
}

.conheca{
    color: #6D6D6D;
    font-size: 25px;
}

.nossos{
    color: #F2F2F2;
    font-size: 28px;
}

.ladoesquerdo{
    width: 50%; /* Define a largura como metade do contêiner */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding dentro da largura */
    color: #FFFFFF;
    justify-content: center;
    margin: 40px;
}

.ladodireito{
    width: 50%; /* Define a largura como metade do contêiner */
    padding: 10px; /* Espaçamento interno */
    box-sizing: border-box; /* Inclui o padding dentro da largura */
    color: #FFFFFF;
    align-self: center;
    margin: 20px;
}

.imgpp{
    width: 50px;
    height: 50px;

}

.texto {
    margin-bottom: 5px; /* Adiciona espaçamento de 30 pixels abaixo de cada bloco */
    padding: 15px; /* Adiciona preenchimento interno de 15 pixels */
  }


